<footer class="footer">
  <div class="footer-content">
    <div class="footer-left">
      <p>Hecho por Nicolás Lingurini</p>
      <p>E-MAIL nicolaslingurini@gmail.com</p>
    </div>
    <div class="footer-right">
      <a href="https://www.facebook.com/" class="social-icon"><img
          class="imglogo"
          src="/img/facebook-logo_49354.png"
          alt="logo facebook"
        /></a>
      <a href="https://www.instagram.com/" class="social-icon"><img
          class="imglogo"
          src="/img/instagram_1384015.png"
          alt="logo instagram"
        /></a>
      <a href=" https://wa.me/2235421117" class="social-icon"><img
          class="imglogo"
          src="/img/whatsapp.png"
          alt="logo whasapp"
        /></a>
      <a href="https://www.youtube.com/" class="social-icon"><img
          class="imglogo"
          src="/img/youtube.png"
          alt="logo youtube"
        /></a>
    </div>
    <div class="footer-right">
      <img class="imglogowp" src="/img/wp1.jpeg" alt="Imagen de Footer" />
    </div>
  </div>
</footer>