<nav class="navbar">
  <div class="navbar-left">
    <img src="/img/logobazar.jpg" alt="Logo" class="logo" />
  </div>
  <div class="navbar-center">
    <a href="/products" class="nav-button">LISTA PRODUCTOS</a>
    <a href="/carts/684a1d87df39d61d1824cb35" class="nav-button">CARRITO DE
      COMPRAS</a>
  </div>
  <div class="navbar-right">
    <img src="/img/carrito.jpg" alt="Icono Usuario" class="right-icon" />
  </div>
</nav>