<nav class="navbar">
  <div class="navbar-left">
    <img src="/img/logobazar.jpg" alt="Logo" class="logo" />
  </div>
  <div class="navbar-center">
    <a href="/" class="nav-button">LISTA PRODUCTOS</a>
    <a href="/realTimeProducts" class="nav-button">AGREGAR PRODUCTOS</a>
  </div>
  <div class="navbar-right">
    <img src="/img/carrito.jpg" alt="Icono Usuario" class="right-icon" />
  </div>
</nav>